# ------------------------------------------------
# Minimal Configuration for openwrt/openwrt
# ------------------------------------------------
# https://github.com/openwrt/openwrt/blob/master/config/Config-build.in
# https://github.com/openwrt/openwrt/blob/master/config/Config-devel.in
# https://github.com/openwrt/openwrt/blob/master/config/Config-kernel.in
# https://github.com/openwrt/openwrt/blob/master/config/Config-images.in
# ------------------------------------------------

CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_Generic=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_TARGET_KERNEL_PARTSIZE=32
CONFIG_TARGET_ROOTFS_PARTSIZE=512
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_SQUASHFS=n
CONFIG_VMDK_IMAGES=y
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_KERNEL_BUILD_USER="Codiy"
CONFIG_GRUB_TITLE="OpenWrt built by Codiy"
CONFIG_GRUB_CONSOLE=n
CONFIG_KERNEL_EXT4_FS_SECURITY=y

# ------------------------------------------------
# https://github.com/openwrt/openwrt/tree/master/package
# ------------------------------------------------
# package/kernel/linux
CONFIG_PACKAGE_kmod-kvm-amd=y
CONFIG_PACKAGE_kmod-kvm-intel=y
CONFIG_PACKAGE_kmod-kvm-x86=y
CONFIG_PACKAGE_kmod-vmxnet3=y
# package/utils/util-linux
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_fdisk=y
# package/network/services
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
# package/libs/openssl
CONFIG_OPENSSL_ENGINE=y
CONFIG_OPENSSL_ENGINE_BUILTIN=y
CONFIG_OPENSSL_WITH_CAMELLIA=y
CONFIG_OPENSSL_WITH_COMPRESSION=y
CONFIG_OPENSSL_WITH_DTLS=y
CONFIG_OPENSSL_WITH_EC2M=y
CONFIG_OPENSSL_WITH_ERROR_MESSAGES=y
CONFIG_OPENSSL_WITH_IDEA=y
CONFIG_OPENSSL_WITH_MDC2=y
CONFIG_OPENSSL_WITH_RFC3779=y
CONFIG_OPENSSL_WITH_SEED=y
CONFIG_OPENSSL_WITH_WHIRLPOOL=y


# ------------------------------------------------
# https://github.com/openwrt/packages
# ------------------------------------------------
# packages/devel
CONFIG_PACKAGE_make=y
# packages/net
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_open-iscsi=y
CONFIG_PACKAGE_openssh-sftp-server=y
# packages/utils
CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_vim=y
