# ------------------------------------------------
# https://github.com/openwrt/openwrt/blob/master/config/Config-build.in
# https://github.com/openwrt/openwrt/blob/master/config/Config-devel.in
# https://github.com/openwrt/openwrt/blob/master/config/Config-kernel.in
# https://github.com/openwrt/openwrt/blob/master/config/Config-images.in
# ------------------------------------------------
CONFIG_KERNEL_BLK_DEV_BSG=y
CONFIG_KERNEL_BLK_DEV_THROTTLING_LOW=y
CONFIG_KERNEL_CFQ_GROUP_IOSCHED=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
CONFIG_KERNEL_CGROUP_PERF=y
CONFIG_KERNEL_DEVTMPFS=y
CONFIG_KERNEL_DEVTMPFS_MOUNT=y
CONFIG_KERNEL_MEMCG_SWAP_ENABLED=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_PERF_EVENTS=y
CONFIG_KERNEL_PROC_PID_CPUSET=y


# ------------------------------------------------
# https://github.com/openwrt/openwrt/tree/master/package
# ------------------------------------------------
# package/kernel/linux
CONFIG_PACKAGE_kmod-br-netfilter=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-dax=y
CONFIG_PACKAGE_kmod-dm=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-ikconfig=y
#--
#-2 CONFIG_PACKAGE_kmod-ipt-conntrack-extra=y
CONFIG_PACKAGE_kmod-ipt-extra=y
CONFIG_PACKAGE_kmod-ipt-ipopt=y
CONFIG_PACKAGE_kmod-ipt-ipset=y
CONFIG_PACKAGE_kmod-ipt-raw=y
CONFIG_PACKAGE_kmod-iptunnel=y
#--
CONFIG_PACKAGE_kmod-irqbypass=y
CONFIG_PACKAGE_kmod-lib-raid6=y
CONFIG_PACKAGE_kmod-lib-xor=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-macvlan=y
#--
#-2 CONFIG_PACKAGE_kmod-nf-conntrack-netlink=y
#--
CONFIG_PACKAGE_kmod-nf-ipvs=y
#--
CONFIG_PACKAGE_kmod-nfnetlink=y
CONFIG_PACKAGE_kmod-udptunnel4=y
CONFIG_PACKAGE_kmod-udptunnel6=y
#--
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-vxlan=y
# package/libs
CONFIG_PACKAGE_liblzo=y
#--
#-2 CONFIG_PACKAGE_libnetfilter-conntrack=y
CONFIG_PACKAGE_libnfnetlink=y
#--
# package/system
CONFIG_PACKAGE_ca-certificates=y
# package/network/utils
CONFIG_PACKAGE_ip-bridge=y
CONFIG_PACKAGE_ip-full=y
#--
CONFIG_PACKAGE_ipset=y
#--
#-2 CONFIG_PACKAGE_iptables-mod-conntrack-extra=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-mod-tproxy=y
# package/utils
CONFIG_PACKAGE_mount-utils=y

# ------------------------------------------------
# https://github.com/openwrt/packages
# ------------------------------------------------
# packages/utils
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_PACKAGE_containerd=y
CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_docker=y
CONFIG_PACKAGE_dockerd=y
CONFIG_PACKAGE_libattr=y
CONFIG_PACKAGE_libdevmapper=y
CONFIG_PACKAGE_libnetwork=y
# CONFIG_PACKAGE_runc=y
CONFIG_PACKAGE_tini=y
# packages/libs
CONFIG_PACKAGE_libseccomp=y
