# ------------------------------------------------
# https://github.com/openwrt/openwrt/blob/master/config/Config-kernel.in
# ------------------------------------------------
CONFIG_KERNEL_BTRFS_FS_POSIX_ACL=y
CONFIG_KERNEL_CGROUP_DEVICE=y
CONFIG_KERNEL_CGROUP_FREEZER=y
CONFIG_KERNEL_CGROUP_NET_PRIO=y
CONFIG_KERNEL_CGROUP_PERF=y
CONFIG_KERNEL_CGROUP_HUGETLB=y
CONFIG_KERNEL_EXT4_FS_POSIX_ACL=y
CONFIG_KERNEL_MEMCG_SWAP_ENABLED=y
CONFIG_KERNEL_NET_CLS_CGROUP=y
CONFIG_KERNEL_SECURITY_SELINUX=y

# ------------------------------------------------
# https://github.com/openwrt/openwrt/tree/master/package
# ------------------------------------------------
# package/kernel/linux
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-ghash=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-vxlan=y

# ------------------------------------------------
# https://github.com/openwrt/packages
# ------------------------------------------------
# packages/utils
CONFIG_PACKAGE_cgroupfs-mount=y
CONFIG_PACKAGE_docker=y
CONFIG_PACKAGE_dockerd=y
